In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [4]:
df = pd.read_csv('zomato.csv')

In [5]:
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [6]:
df.isna().sum()

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            7775
votes                              0
phone                           1208
location                          21
rest_type                        227
dish_liked                     28078
cuisines                          45
approx_cost(for two people)      346
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

In [9]:
df.dropna(axis='index', subset=['location'], inplace=True)

In [10]:
df.isna().sum()

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            7754
votes                              0
phone                           1187
location                           0
rest_type                        206
dish_liked                     28057
cuisines                          24
approx_cost(for two people)      325
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

In [11]:
len(df['location'].unique())

93

In [12]:
locations=pd.DataFrame()

In [13]:
locations['Name']=df['location'].unique()

In [14]:
locations.head()

                 Name
0        Banashankari
1        Basavanagudi
2         Mysore Road
3           Jayanagar
4  Kumaraswamy Layout

In [15]:
!pip install geopy

Collecting geopy
  Downloading geopy-2.2.0-py3-none-any.whl (118 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 118.9/118.9 kB 1.8 MB/s eta 0:00:00a 0:00:01
Collecting geographiclib<2,>=1.49
  Downloading geographiclib-1.52-py3-none-any.whl (38 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.52 geopy-2.2.0

In [16]:
from geopy.geocoders import Nominatim

In [17]:
geolocator = Nominatim(user_agent='app')

In [18]:
lat=[]
lon=[]
for location in locations['Name']:
    location = geolocator.geocode(location)
    if location is None:
        lat.append(np.nan)
        lon.append(np.nan)
    else:
        lat.append(location.latitude)
        lon.append(location.longitude)

In [19]:
print(lat, lon)

[15.8876779, 12.9417261, 12.9466619, 27.64392675, 12.9081487, 12.9274413, 22.8359967, 12.9055682, 12.2655944, 12.8845448, 39.76880625, 12.95961755, 12.8885856, 45.95485055, 12.5560169, 12.9089453, 17.2510682, 12.848759900000001, 18.1475, 12.9552572, 12.920441, 12.9489339, 22.478459, 12.9348429, 12.9408685, 40.5751711, 12.9364846, 16.3651178, 12.9327778, 12.93103185, 53.5533682, 12.9845687, 40.2801592, 12.9732913, 12.9275886, 12.996845, 13.0227204, 12.9755264, 12.9699876, 40.7652844, 40.7097579, 12.9778793, -28.5510014, 18.5322493, 30.314117, 33.117255, 36.5348643, 51.1672717, 51.5153811, 12.988721250000001, 13.0358698, 12.9624669, 12.945245, 12.9678074, 13.1939722, 13.0027353, 12.9931876, 13.0093455, 12.9390255, 1.2847055, 12.957998, 13.0101286, 30.1915796, 33.5935063, 12.9805104, 12.9413238, 13.007516, 12.9243692, 12.9282918, 13.2923988, 12.7450586, 12.9882338, 13.0141618, 12.9767936, 13.2227, 13.0258087, 13.0221416, 13.0376257, 13.0784743, nan, 12.973936, 12.9846713, 13.0382184, 12.9176571, 38.7801076, 15.8782951, 12.2949102, 13.02383, 12.9848519, 12.9756527, 13.1006982, 18.4900796, 13.0329419] [75.7046777, 77.5755021, 77.5300896, 83.05280519687284, 77.5553179, 77.5155224, 69.3405962, 77.5455438, 76.6465404, 77.5701276, -86.15345077251979, 77.51126721318181, 77.5973066, -112.49659530324134, 77.4249605, 77.6239038, 80.1651978, 77.64825295827616, 41.538889, 77.6984163, 77.6653284, 77.5968273, 88.3541291, 77.6189768, 77.617338, -74.1278336, 77.6134783, 76.7808528, 77.6294052, 77.6782471, -2.2969019, 77.73766474151809, -79.5198928, 77.6404672, 77.6308832, 77.6130165, 77.595715, 77.6067902, 77.6065344, -76.373824, -74.0115904, 77.6246697, 29.7845495, 73.8499601124847, -89.80857, -84.837311, -79.0905056, 0.009662, -0.0719678, 77.58516877601824, 77.6323597, 77.6381958, 77.6269144, 77.6568367, 78.5489705, 77.5703253, 77.5753419, 77.6377094, 77.6238477, 103.84320655721689, 77.6037312, 77.5548006, 74.9408769, -79.0345627, 77.7272748, 77.7471103, 77.695935, 77.6242433, 77.6254034, 77.7519261, 77.8162805, 77.554883, 77.6518539, 77.590082, 78.5541977, 77.6305067, 77.6403368, 77.5654963, 77.6068938, nan, 77.6509982, 77.6790908, 77.5919, 77.4837568, -121.5056438, 74.5084834, 76.615262, 77.5529215, 77.5400626, 77.5553548, 77.5963454, 73.8475301, 77.5273253]

In [20]:
locations['lat']=lat
locations['lon']=lon

In [21]:
locations.head()

                 Name        lat        lon
0        Banashankari  15.887678  75.704678
1        Basavanagudi  12.941726  77.575502
2         Mysore Road  12.946662  77.530090
3           Jayanagar  27.643927  83.052805
4  Kumaraswamy Layout  12.908149  77.555318

In [22]:
locations.to_csv('zomato_locations.csv', index=False)

In [25]:
Rest_locations = df['location'].value_counts().reset_index()
Rest_locations

                    index  location
0                     BTM      5124
1                     HSR      2523
2   Koramangala 5th Block      2504
3                JP Nagar      2235
4              Whitefield      2144
..                    ...       ...
88         West Bangalore         6
89              Yelahanka         6
90                 Jakkur         3
91   Rajarajeshwari Nagar         2
92                 Peenya         1

[93 rows x 2 columns]

In [26]:
Rest_locations.columns=['Name', 'count']

In [27]:
Rest_locations

                     Name  count
0                     BTM   5124
1                     HSR   2523
2   Koramangala 5th Block   2504
3                JP Nagar   2235
4              Whitefield   2144
..                    ...    ...
88         West Bangalore      6
89              Yelahanka      6
90                 Jakkur      3
91   Rajarajeshwari Nagar      2
92                 Peenya      1

[93 rows x 2 columns]

In [28]:
Restaurant_locations = Rest_locations.merge(locations, on='Name', how='left').dropna()
Restaurant_locations.head()

                    Name  count        lat         lon
0                    BTM   5124  45.954851 -112.496595
1                    HSR   2523  18.147500   41.538889
2  Koramangala 5th Block   2504  12.934843   77.618977
3               JP Nagar   2235  12.265594   76.646540
4             Whitefield   2144  53.553368   -2.296902

In [ ]:
!pip install folium

Collecting folium
  Downloading folium-0.12.1.post1-py2.py3-none-any.whl (95 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.0/95.0 kB 1.6 MB/s eta 0:00:00a 0:00:01
Collecting branca>=0.3.0
  Downloading branca-0.5.0-py3-none-any.whl (24 kB)
Requirement already satisfied: numpy in /Users/amiiwhelan/opt/anaconda3/lib/python3.9/site-packages (from folium) (1.22.4)
Requirement already satisfied: requests in /Users/amiiwhelan/opt/anaconda3/lib/python3.9/site-packages (from folium) (2.28.1)
Requirement already satisfied: jinja2>=2.9 in /Users/amiiwhelan/opt/anaconda3/lib/python3.9/site-packages (from folium) (3.1.2)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/amiiwhelan/opt/anaconda3/lib/python3.9/site-packages (from jinja2>=2.9->folium) (2.0.1)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/amiiwhelan/opt/anaconda3/lib/python3.9/site-packages (from requests->folium) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/amiiwhelan/opt/anaconda3/lib/python3.9/site-packages (from requests->folium) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in /Users/amiiwhelan/opt/anaconda3/lib/python3.9/site-packages (from requests->folium) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /Users/amiiwhelan/opt/anaconda3/lib/python3.9/site-packages (from requests->folium) (2022.6.15)
Installing collected packages: branca, folium
Successfully installed branca-0.5.0 folium-0.12.1.post1

In [30]:
def generatebasemap(default_location=[12.97, 77.59], default_zoom_start=12):
    basemap = folium.Map(location=default_location, zoom_start=default_zoom_start )
    return basemap

In [31]:
import folium
basemap = generatebasemap()

In [32]:
basemap

In [33]:
from folium.plugins import HeatMap

In [34]:
HeatMap(Restaurant_locations[['lat', 'lon', 'count']], zoom=20).add_to(basemap)

In [35]:
basemap